# Environment Variables
OPENAI_API_KEY=your_openai_api_key_here

OPENAI_TXT_EMB_3_LARGE_API_BASE_URL=''
OPENAI_TXT_EMB_3_LARGE_API_JWT_TOKEN=''
OPENAI_TXT_EMB_3_LARGE_MODEL_ID='text-embedding-3-large'
