/*
FastAPI

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// TracesAPIService TracesAPI service
type TracesAPIService service

type ApiGetSessionRequest struct {
	ctx context.Context
	ApiService *TracesAPIService
	userInputId string
}

func (r ApiGetSessionRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetSessionExecute(r)
}

/*
GetSession Get Session

Retrieve all traces for a single session ordered by creation time.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param userInputId
 @return ApiGetSessionRequest
*/
func (a *TracesAPIService) GetSession(ctx context.Context, userInputId string) ApiGetSessionRequest {
	return ApiGetSessionRequest{
		ApiService: a,
		ctx: ctx,
		userInputId: userInputId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *TracesAPIService) GetSessionExecute(r ApiGetSessionRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TracesAPIService.GetSession")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/trace/session/{user_input_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"user_input_id"+"}", url.PathEscape(parameterValueToString(r.userInputId, "userInputId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTracesTraceGetRequest struct {
	ctx context.Context
	ApiService *TracesAPIService
	page *int32
	pageSize *int32
	masId *string
	all *bool
	sortAsc *bool
	userInputId *string
	blocked *bool
	q *string
	eventType *string
	blockingType *string
}

func (r ApiGetTracesTraceGetRequest) Page(page int32) ApiGetTracesTraceGetRequest {
	r.page = &page
	return r
}

func (r ApiGetTracesTraceGetRequest) PageSize(pageSize int32) ApiGetTracesTraceGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiGetTracesTraceGetRequest) MasId(masId string) ApiGetTracesTraceGetRequest {
	r.masId = &masId
	return r
}

func (r ApiGetTracesTraceGetRequest) All(all bool) ApiGetTracesTraceGetRequest {
	r.all = &all
	return r
}

func (r ApiGetTracesTraceGetRequest) SortAsc(sortAsc bool) ApiGetTracesTraceGetRequest {
	r.sortAsc = &sortAsc
	return r
}

func (r ApiGetTracesTraceGetRequest) UserInputId(userInputId string) ApiGetTracesTraceGetRequest {
	r.userInputId = &userInputId
	return r
}

func (r ApiGetTracesTraceGetRequest) Blocked(blocked bool) ApiGetTracesTraceGetRequest {
	r.blocked = &blocked
	return r
}

func (r ApiGetTracesTraceGetRequest) Q(q string) ApiGetTracesTraceGetRequest {
	r.q = &q
	return r
}

func (r ApiGetTracesTraceGetRequest) EventType(eventType string) ApiGetTracesTraceGetRequest {
	r.eventType = &eventType
	return r
}

func (r ApiGetTracesTraceGetRequest) BlockingType(blockingType string) ApiGetTracesTraceGetRequest {
	r.blockingType = &blockingType
	return r
}

func (r ApiGetTracesTraceGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetTracesTraceGetExecute(r)
}

/*
GetTracesTraceGet Get Traces

Retrieve paginated traces, optionally filtered by session, blocked status, tool name, event type, or blocking type.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetTracesTraceGetRequest
*/
func (a *TracesAPIService) GetTracesTraceGet(ctx context.Context) ApiGetTracesTraceGetRequest {
	return ApiGetTracesTraceGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *TracesAPIService) GetTracesTraceGetExecute(r ApiGetTracesTraceGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TracesAPIService.GetTracesTraceGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/trace"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	if r.masId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mas_id", r.masId, "form", "")
	}
	if r.all != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "all", r.all, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "all", defaultValue, "form", "")
		r.all = &defaultValue
	}
	if r.sortAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_asc", r.sortAsc, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_asc", defaultValue, "form", "")
		r.sortAsc = &defaultValue
	}
	if r.userInputId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_input_id", r.userInputId, "form", "")
	}
	if r.blocked != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "blocked", r.blocked, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.eventType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "event_type", r.eventType, "form", "")
	}
	if r.blockingType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "blocking_type", r.blockingType, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTraceLlmCallEndRequest struct {
	ctx context.Context
	ApiService *TracesAPIService
	lLMCallEndedRequest *LLMCallEndedRequest
}

func (r ApiTraceLlmCallEndRequest) LLMCallEndedRequest(lLMCallEndedRequest LLMCallEndedRequest) ApiTraceLlmCallEndRequest {
	r.lLMCallEndedRequest = &lLMCallEndedRequest
	return r
}

func (r ApiTraceLlmCallEndRequest) Execute() (*LLMCallEndedEvent, *http.Response, error) {
	return r.ApiService.TraceLlmCallEndExecute(r)
}

/*
TraceLlmCallEnd Trace Llm Call End

Record the end of an LLM call for the authenticated agent.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiTraceLlmCallEndRequest
*/
func (a *TracesAPIService) TraceLlmCallEnd(ctx context.Context) ApiTraceLlmCallEndRequest {
	return ApiTraceLlmCallEndRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return LLMCallEndedEvent
func (a *TracesAPIService) TraceLlmCallEndExecute(r ApiTraceLlmCallEndRequest) (*LLMCallEndedEvent, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *LLMCallEndedEvent
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TracesAPIService.TraceLlmCallEnd")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/trace/llm/call_end"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.lLMCallEndedRequest == nil {
		return localVarReturnValue, nil, reportError("lLMCallEndedRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.lLMCallEndedRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTraceLlmCallStartRequest struct {
	ctx context.Context
	ApiService *TracesAPIService
	lLMCallStartedRequest *LLMCallStartedRequest
}

func (r ApiTraceLlmCallStartRequest) LLMCallStartedRequest(lLMCallStartedRequest LLMCallStartedRequest) ApiTraceLlmCallStartRequest {
	r.lLMCallStartedRequest = &lLMCallStartedRequest
	return r
}

func (r ApiTraceLlmCallStartRequest) Execute() (*LLMCallStartedEvent, *http.Response, error) {
	return r.ApiService.TraceLlmCallStartExecute(r)
}

/*
TraceLlmCallStart Trace Llm Call Start

Record the start of an LLM call for the authenticated agent.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiTraceLlmCallStartRequest
*/
func (a *TracesAPIService) TraceLlmCallStart(ctx context.Context) ApiTraceLlmCallStartRequest {
	return ApiTraceLlmCallStartRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return LLMCallStartedEvent
func (a *TracesAPIService) TraceLlmCallStartExecute(r ApiTraceLlmCallStartRequest) (*LLMCallStartedEvent, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *LLMCallStartedEvent
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TracesAPIService.TraceLlmCallStart")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/trace/llm/call_start"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.lLMCallStartedRequest == nil {
		return localVarReturnValue, nil, reportError("lLMCallStartedRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.lLMCallStartedRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
