model_list:
    - model_name: gpt-4o
      litellm_params:
          model: gpt-4o
          api_base: ${OPENAI_GPT4o_API_BASE_URL}
          api_key: ${OPENAI_GPT4o_API_JWT_TOKEN}

general_settings:
    custom_auth: custom_auth.user_api_key_auth

#litellm_settings:
#    callbacks: custom_callbacks.proxy_handler_instance
