model_list:
    - model_name: gpt-4o
      litellm_params:
          model: gpt-4o
          api_base: url
          api_key: token

general_settings:
    custom_auth: custom_auth.user_api_key_auth

litellm_settings:
    callbacks: custom_callbacks.proxy_handler_instance
