langgraph==1.1.1
langchain==1.2.13
langchain-openai==1.1.11
langchain-mcp-adapters==0.1.11
fastapi[standard]>=0.116.1
uvicorn==0.39.0; python_version < "3.10"
uvicorn==0.41.0; python_version >= "3.10"
uvloop==0.22.1
requests==2.31.0
